
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section1 container="yes" }}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section2 container="yes"}}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section3 container="no"}}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section4 container="yes"}}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section5 container="yes"}}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section6 container="yes"}}
{{> components/wbcomponents/sections/section-home2 section=theme_settings.home_section7 container="yes"}}
