// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

// 1. Header Layout
// -----------------------------------------------------------------------------
.header-mobile{
    background: #333;
}
.header-bottom-left{

    flex: grid-calc(2, $total-columns);
    background: $background;
    @include breakpoints(lg){
        border-radius: 3px 0 0 3px;
        max-width: 260px;
        flex: 0 0 260px;
    }

}

.header-bottom-center{
    flex: grid-calc(10, $total-columns);
    background: $gray-darker;
    @include breakpoints(lg){
        max-width: calc(100% - 260px);
        flex: 0 0 calc(100% - 260px);
        border-radius: 0 3px 3px 0;
    }

}


.header {
    border:none;
    .navUser-section{ float: none; display: inline-block; vertical-align: top;
        .navUser-action{
            font-weight:400; padding: 10px 0;
        }
        ul.dropdown-menu{
            @include linkColor($gray,stencilColor("navUser-color-hover"));
        }
    }

}
.header-top{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 13px;position: relative;z-index: 90;
    nav.navUser{
        padding: 0;
    }
    ul.navUser-section {
        .navUser-item {
            + .navUser-item {
                margin-left: 20px;
            }
        }
        .navUser-action{
            text-transform: none;
        }

    }
}
.header-center{
    .grid-container{
        @include display-grid();
        @include grid-template-columns(250px 1fr 450px);
        -ms-grid-columns:250px 1fr 450px;
        grid-gap: 30px;

    }

}
.header-bottom{
    //background: stencilColor("navUser-color-hover");

    .header-bottom-gutters:before{
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
        margin: 0 15px;
        background: rgba(255, 255, 255, 0.1);
    }
}

.header-search {
    max-width: 930px;
    width: 100%;
    margin: auto;
    position: relative;
}
.header-cart{
    display: flex; align-items: flex-end;
}
// 2. Logo
// -----------------------------------------------------------------------------
.header-logo__link{
    margin: 10px auto;
    color: $gray;
    @include breakpoint(medium){
        margin: 3rem 0;
    }
}

.navbar-logo{
    > a{display: inline-block;}
}

.header-logo {
    margin: 25px 0;
    display: inline-block;
}

.navUser-item--compare{ position: relative;
    .countPill--alt{ font-weight: normal;}

}

//
// Mobile Menu Toggle
//
// 3. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

// 4. Main Menu
// -----------------------------------------------------------------------------
.navPages-horizontal{
    padding: 0 20px;
    ul.navPages-list > li.navPages-item > .navPages-action{
        color: $white;
        &:hover{color: stencilColor("navUser-color-hover");}
        &:before{background: transparent;}
    }
}

@include breakpoint("medium") {
    .navPages-verticalCategories {
        background: $background;
        border-radius: 3px 0 0 3px;

        .megamenuToogle-wrapper {
            color: $white;
            //background: none;
            &:hover {
                color: $navPage-subMenu-item--is-highlighted-color;
            }
        }

        &:hover {
            .megamenuToogle-wrapper {
                background: $background;
            }
        }
    }
}
// 5. Quicksearch
// -----------------------------------------------------------------------------
.wb-formSearch{
    .input-group{
        .form-control{

            border: 2px solid #ebebeb;border-right: none;
            height:48px; border-radius: 3px 0 0  3px ;  text-indent: 10px; font-size: 13px;
        }
        .btn {
            // @include btPrimaryColor();
            color: $white;
            background: $buttonStyle-primary-backgroundColor;
            text-transform: uppercase;
            border: 0;
            padding: 0 8px;
            min-width: 130px;
            text-align: center;
            border-radius: 0 3px 3px  0  ;


        }
    }
}

//7.SHOW PREVIEW CART
// -----------------------------------------------------------------------------
.header-blockcart{
    margin: auto 0;
    .navUser{padding: 0;}
    .navUser-section{
        float: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .navUser-item{margin: 0 5px;
            @include breakpoints("lg") {
                margin: 0 20px;
            }
            &__text{
                text-align: left;
                line-height: 100%;
            }
            &__label{
                display: block;
                color: $textBody;
                font-size: 13px;
                margin-bottom: 3px;
            }
            &__mytext{
                margin:0;
                color: $gray-darker;
            }
            .cart-button{
                margin-right: 1rem;
                position: relative;
            }
            .cart-subtotal{
                font-weight: 500;
            }
        }


        .navUser-item--cart{margin-right: 0px;}
        .cart-quantity{
            line-height: 18px;
            font-weight: 400;
            position: absolute;
            right: -5px;
            top: -5px;
            width: 18px;
            height: 18px;
            display: block;
            background: $buttonStyle-primary-backgroundColor;
            color:$white;
        }

        .navUser-action{
            padding: 0px;
            display: flex;
            flex-wrap: nowrap;
            text-transform: none;
            @include linkColor($gray-darker,stencilColor("navUser-color-hover"));
        }
    }

    .previewCartItem-name{
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 14px;
        a{
            @include linkGrayDark(); display: block;
        }
    }
    .previewCartItem-brand{
        display: none;
    }
    .previewCartItem-content{
        text-align: left;
    }
    .previewCartItem-price{
        font-size: 16px;
        color: $textColor;
    }

}

.navUser-item--cart{
    .dropdown-menu{
        min-width: 310px;
    }

}

//====== Block Store Location   =======
.storeLocation{margin: 10px 0 ;
    strong{
        font-weight: normal;
    }

}
