<div class="wb-breadcrumbs" aria-label="Breadcrumb">
    <div class="entry-header">
    <ul class="breadcrumbs">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="breadcrumb-item {{#if @last}}is-active{{/if}}">
                    <a class="breadcrumb-label"
                       href="{{url}}"
                       {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span>{{name}}</span>
                    </a>
                    {{#unless @last}}<svg width="16" height="16" class="icon"><use xlink:href="#icon-chevron-right"></use></svg> {{/unless}}
                </li>
            {{/each}}
        {{/unless}}
    </ul>
    </div>
</div>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
        {
            "@type": "ListItem",
            "position": {{add @index 1}},
            "item": {
                "@id": {{{JSONstringify url}}},
                "name": {{{JSONstringify name}}}
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
