---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
cart: true
---

{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}


{{#partial "hero"}}
	{{> components/wbcomponents/common/breadcrumbs breadcrumbs=breadcrumbs active_url=blog.url}}
{{/partial}}

{{#partial "page"}}

{{{region name="brand_below_header"}}}
<div class="row page sidebar--left">
    <aside class="col-xxl-3 col-lg-3  page-sidebar sidebar-offcanvas" id="faceted-search-container">
        {{> components/brand/sidebar}}
    </aside>

    <div class="col-xxl-9 col-lg-9 col-md-12 page-content products-category" id="product-listing-container">
        <div class="form-group category-info">


        {{#if brand.image}}
        <div class="brand-image-container">
            {{> components/common/responsive-img
            image=brand.image
            fallback_size=theme_settings.brand_size
            lazyload='disabled'
            }}
        </div>
        {{/if}}
        <h3 class="title-category ">{{brand.name}}</h3>
        </div>
        {{{region name="brand_below_header"}}}

        {{#if brand.search_error }}
            <p>{{lang 'search.errorMessage'}}</p>
        {{else}}
            {{#if brand.products}}
                {{> components/brand/product-listing}}
            {{else}}
                <p>{{lang 'brands.no_products'}}</p>
            {{/if}}
            {{{region name="brand_below_content"}}}
        {{/if}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
