---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
category:
    shop_by_price: true
    products:
        new:
            limit: {{theme_settings.categorypage_products_per_page}}
        limit: {{theme_settings.categorypage_products_per_page}}
cart: true
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{inject "currentPage" category.url}}

{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "settings_subcategory" theme_settings.settings_subcategory}}
{{inject "settings_subcategory_col" theme_settings.settings_subcategory_col}}
{{inject "text_refine_more" (lang 'wbTheme.sub_categories.text_refine_more' )}}
{{inject "text_refine_less" (lang 'wbTheme.sub_categories.text_refine_less' )}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "hero"}}
	{{> components/wbcomponents/common/breadcrumbs breadcrumbs=breadcrumbs active_url=blog.url}}
{{/partial}}


{{#partial "page"}}

<div class="row page sidebar--{{theme_settings.settings_sidebar}}">
    {{#if theme_settings.settings_sidebar '!=' 'none' }}
    <aside class="col-xxl-2 col-xl-3 col-lg-3   page-sidebar sidebar-offcanvas" id="faceted-search-container">
        {{> components/wbcomponents/category/sidebar}}
    </aside >
    {{/if}}

    <div class="{{#if theme_settings.settings_sidebar '!=' 'none' }}col-xxl-10 col-xl-9 col-lg-9 col-sm-12 page-content {{else}} col-sm-12 page-content {{/if}}" id="product-listing-container">
        <div class="products-category clearfix">

            <div class="form-group category-info">
                {{#unless theme_settings.hide_category_page_heading }}
                    <h3 class="title-category ">{{category.name}}</h3>
                    {{{region name="category_below_header"}}}
                {{/unless}}

                {{#if category.image}}
                <div class="category-info__image">
                    {{> components/common/responsive-img
                    image=category.image
                    fallback_size=theme_settings.blog_size
                    lazyload=theme_settings.lazyload_mode
                    class="category-header-image"}}
                </div>
                {{/if}}

                {{#if category.description}}
                <div class="category-info__desc">
                    {{{category.description}}}
                </div>
                {{/if}}

            </div>

            {{#if category.subcategories}}
            <div class="refine-search form-group clearfix">
                <h3 class="title-category">{{lang 'wbTheme.sub_categories.heading' }}</h3>
                <div class="refine-search__content blank row">
                    {{#each category.subcategories}}
                    <div class="refine-search__subitem col-lg-2 col-md-3 col-4">
                        <a href="{{url}}"
                           class="card-figure__link"
                           aria-label="{{name}},{{> components/products/product-aria-label}}"
                           data-event-type="product-click"
                        >
                            <div class="img-thumbnail">
                                <img  class="img-responsive lazyload" src="{{getImage image 'brand_size' (cdn ../theme_settings.default_image_product)}}" alt="{{name}}" />
                            </div>

                        </a>
                        <div class="refine-search__subitem-body">
                            <h4 class="refine-search__subitem-name">
                                <a href="{{url}}">{{name}}</a>
                            </h4>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                {{#unless category.subcategories}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/unless}}
            {{/if}}

        </div>
        {{{region name="category_below_content"}}}
    </div>
</div>


{{/partial}}
{{> layout/base}}
