{{#contains content "[/shortcode]"}}
	{{#if prefix '==' 'badges'}}
		{{#contains  (last (split (first (split ../content '[/shortcode]')) '[shortcode]')) ../prefix  }}
			{{> components/wbcomponents/shortcode/badges  textBadges = (last (split (first (split ../content '[/shortcode]')) '[shortcode]')) }}
		{{/contains}}
	{{/if}}
	
	{{#if prefix '==' 'countdown'}}
		{{#contains  (last (split (first (split ../content '[/shortcode]')) '[shortcode]')) ../prefix  }}
			{{> components/wbcomponents/shortcode/countdown  textCountdown = (last (split (first (split ../content '[/shortcode]')) '[shortcode]')) }}
		{{/contains}}
	{{/if}}
{{/contains}}
