{{!--
	===============================================================================
	Show Section Slideshow - Home 02
	===============================================================================
	--}}
	<div class="wb-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 col-sm-12  block-slideshow__left">
					{{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12  block-slideshow__right">
						{{> components/wbcomponents/addons/wb_banner/banner status=true prefix="home2slider" showContent=false limitation=2  display_mode=" " class_sfx=""}}
				</div>

			</div>

		</div>
	</div>
