<div class="wb-slideshow">
	<div class="container">
		<div class="row">
			<div class="col-xl-7 col-lg-12 col-sm-12  block-slideshow__left">
				{{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
			</div>
			<div class="col-xl-5 col-lg-12 col-sm-12  block-slideshow__right">
				{{> components/wbcomponents/addons/wb_banner/banner status=true prefix="home3slider" showContent=false limitation=4  display_mode=" " class_sfx=""}}
			</div>

		</div>

	</div>
</div>
