{{#if banners.top}}
<div data-alert  class="banners--top alert-box" data-banner-location="top">
	{{{limit banners.top 1}}}
</div>
{{/if}}

<header class="header" {{#if stickyHeader }} data-sticky-header  {{/if}}>
{{!-- HEADER MOBILE --}}
<div class="header-mobile">
	{{> components/wbcomponents/header/mheader }}
</div>
{{!-- HEADER TOP --}}
<div class="header-top sticky-hidden">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-sm-12 " >
				<div class="storeLocation">
					<!-- To insert the icon: -->
					{{{lang 'wbTheme.header.my_Hotline'}}}
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-sm-12 text-right">
				{{> components/wbcomponents/common/navigation}}
			</div>
		</div>
	</div>
</div>

{{!-- HEADER CENTER --}}
<div class="header-center">
	<div class="grid-container">
		<div class="logo-container ">
			{{> components/common/store-logo}}
		</div>

		<div class="header-search">
			{{> components/wbcomponents/addons/wb_quicksearch/default}}
		</div>

		<div class="header-blockcart">
			<div class="navUser">
				<ul class="navUser-section ">
					<li class="navUser-item">
						<a class="navUser-action has-dropdown "
						   href="#"
						   data-dropdown="myaccount"
						   aria-controls="myaccount"
						   aria-expanded="true">
							<div class="cart-button">
								<svg width="31" height="27"><use xlink:href="#icon-signin" /></svg>
							</div>
							<div class="navUser-item__text">
								{{#if customer}}
								<span class="navUser-item__label">{{lang 'wbTheme.header.my_Hello'}}</span>
								<p class="navUser-item__mytext">{{lang 'header.welcome_back' name = customer.name}} </p>
								{{else}}
								<span class="navUser-item__label">{{lang 'wbTheme.header.my_signin'}}</span>
								<p class="navUser-item__mytext">{{lang 'wbTheme.header.my_account'}}</p>
								{{/if}}
							</div>
						</a>
						<ul class="dropdown-menu accountSelection" id="myaccount" data-dropdown-content aria-hidden="true" tabindex="-1">
							{{#if customer}}
							{{#if theme_settings.show_product_wishlist}}
							<li class="dropdown-menu-item"><a  href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a> </li>
							{{/if}}
							<li class="dropdown-menu-item"><a  href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a> </li>
							{{#if settings.returns_enabled}}
							<li class="dropdown-menu-item"><a  href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a></li>
							{{/if}}
							<li class="dropdown-menu-item"> <a  href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a> </li>
							<li class="dropdown-menu-item"> <a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</span></a> </li>
							<li class="dropdown-menu-item"> <a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a></li>
							<li class="dropdown-menu-item"><a  href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a></li>
							<li class="dropdown-menu-item">
								<a  href="{{urls.auth.logout}}">
									<div class="icon icon--sign-out"> <svg><use xlink:href="#icon-sign-out"></use></svg></div>
									{{lang 'common.logout'}}
								</a>
							</li>
							{{else}}
							<li class="dropdown-menu-item"> <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a></li>
							{{#if settings.account_creation_enabled}}
							<li class="dropdown-menu-item">  <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a></li>
							{{/if}}
							{{/if}}

						</ul>
					</li>
					{{#if settings.show_wishlist}}
					<li class="navUser-item">
						<a class="navUser-action navUser-item--wishlist" href="{{urls.account.wishlists.all}}">
							<div class="cart-button">
								<svg width="31" height="27"><use xlink:href="#icon-wishlist" /></svg>
							</div>
							<div class="navUser-item__text">
								<span class="navUser-item__label">Favorite</span>
								<p class="navUser-item__mytext">{{lang 'account.mobile_nav.wishlists'}}</p>
							</div>
						</a>
					</li>
					{{/if}}
					<li class="navUser-item navUser-item--cart">
						<a
								class="navUser-action cart-button--primary"
								data-cart-preview
								data-dropdown="cart-preview-dropdown"
								href="{{urls.cart}}"
								aria-label="{{lang 'cart.nav_aria_label'}}"
						>
							<div class="cart-button">
								<svg width="31" height="27"><use xlink:href="#icon-shopping-bag" /></svg>
								<span class="countPill cart-quantity">{{cart.quantity}}</span>
							</div>
							<div class="navUser-item__text">
								<p class="navUser-item__label text-shopping-cart">{{lang 'wbTheme.cart.myCart'}}</p>
								<p class="navUser-item__mytext cart-subtotal"><span class="cart-subtotal cart-text--account">{{cart.sub_total.formatted}}</span></p>
							</div>

						</a>
						<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
					</li>
				</ul>
			</div>

		</div>

	</div>

</div>

{{!-- HEADER BOTTOM --}}
<div class="header-bottom">
	<div class="container ">
		<div class="row no-gutters">
			<div class="header-bottom-left col-xl-2 col-md-3 col-12">
				{{> components/wbcomponents/addons/wb_mega/default status=true  display_mode="vertical" limit_item=9 display_homeState="close" }}
			</div>
			<div class="header-bottom-center col-xl-10 col-md-9 col-12">
				{{> components/wbcomponents/addons/wb_mega/default status=true  display_mode="horizontal" }}
			</div>

		</div>
	</div>
</div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

