<form class="filters-panel" method="get" data-sort-by="product">
	<div class="row">
		<div class="col-sm-6 view-mode" data-reinitView="{{theme_settings.product_list_display_mode}}">
			<div class="sidebar-overlay"></div>

			{{#if category.url }}
			<div class="list-view">
				<div class="btn btn-gridview">{{lang 'wbTheme.categories.gridview' }} </div>

				<button type="button" id="{{theme_settings.product_list_display_mode}}" class="btn btn-view grid" title="grid view">
					<div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
					</div>
				</button>
				<button type="button" id="list-view" class="btn btn-view list " title="list view">
					<div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
					</div>
				</button>

			</div>
			{{/if}}
			<a href="javascript:void(0)" class="open-sidebar button button--action d-md-block d-lg-none"><i class="fa fa-sliders"></i> {{lang 'wbTheme.categories.sidebar' }} </a>

		</div>
		<div class="short-by-show col-sm-6 col-xs-12 ">
			{{> components/category/sort-box sort=sort}}
		</div>
	</div>
</form>
